<footer>
			
  <div class="wrapper centered">
    <div class="social">
      <a href="<%= staticcontent.facebookurl %>"><i class="fa fa-facebook"></i></a>
      <a href="<%= staticcontent.twitterurl %>"><i class="fa fa-twitter"></i></a>
      <a href="<%= staticcontent.instagramurl %>"><i class="fa fa-instagram"></i></a>
    </div>
    
    <div class="clear"></div><!--CLEAR FLOATS-->
  </div>
  
</footer>

<section class="small-padding dark-wrapper">
    
  <div class="wrapper">
    <p class="centered"><%= staticcontent.footertext %></p>
    
    <div class="clear"></div><!--CLEAR FLOATS-->
  </div>
  
</section>