<!-- 
	<header>
		<div class="wrapper clearfix">
			<div class="one_fourth remove_bottom logo">
				<a href="index.html">
					<img src="/images/bluegrassmedialogo.png" alt="logo" class="retina" />
				</a>
			</div>
			<div class="three_fourths remove_bottom last">
				<nav>
					<ul id="selectnav">
						<li>
							<a href="#home" class="scroller active">Home</a>
						</li>
						<li>
							<a href="#portfolio" class="scroller">Portfolio</a>
						</li>
						<li>
							<a href="#contact" class="scroller">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header> -->

	<nav class="navbar navbar-expand-sm navbar-light bg-white fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/"><img src="/images/bluegrassmedialogo.png" alt="Bluegrass.media"/></a>
			<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavId">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#home">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#portfolio">Portfolio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>