
	<header>
		<div class="wrapper clearfix">
			<div class="one_fourth remove_bottom logo">
				<a href="index.html">
					<img src="/images/bluegrassmedialogo.png" alt="logo" class="retina" />
				</a>
			</div><!--/one_fourth-->
			<div class="three_fourths remove_bottom last">
				<nav>
					<ul id="selectnav">
						<li>
							<a href="#home" class="scroller active">Home</a>
						</li>
						<li>
							<a href="#portfolio" class="scroller">Portfolio</a>
						</li>
						<!-- <li>
							<a href="#services" class="scroller">Services</a>
						</li> -->
						<li>
							<a href="#contact" class="scroller">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>