.one_fourth.remove_bottom.logo {
  width: 10%;
}

.input-grp div {
  display: flex;
}

.input-grp label {
  font-weight: 500;
  color: rgb(65, 65, 65);
}

input:focus, select:focus, textarea:focus {
  box-shadow: none !important;
}